[Desktop Entry]
Encoding=UTF-8
Name=Mozilla ChatZilla
#Name[pl]=Chat Mozilli
Exec=chatzilla
Icon=/usr/share/chatzilla/chrome/icons/default/chatzilla-window.xpm
Terminal=false
Type=Application
Categories=Network;IRCClient;
# vi: encoding=utf-8
